.THIS {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.THIS .container{
    justify-content: center!important;
}




